.MainContainer {
  height: 93vh;
}

.MainVideo {
  width: 95vw;
  min-height: 100%;
}

.MainVideo > video {
  object-fit: cover;
}

.hidden {
  visibility: hidden;
  max-width: 0px;
  max-height: 0px;
  display: none;
  overflow: hidden;
}

.outgoing {
 width: auto;
  height: 150px ;
  position: absolute;
  right: 2.5vw;
  bottom: 20px;
  z-index: 10;
}

.outgoing > video {
  object-fit:contain;
}

.controls {
  left: 0px;
  right: 0px;
  bottom: 6vh;
}
@media screen and (max-width: 1024px ) and (min-width: 767px){
  .outgoing{
    height: 200px ;
  }
  .controls{
    padding-left: 50px;
    justify-content: start;
  }

}



@media screen and (max-width: 767px){
  .outgoing{
    width: auto;
    height: 100px;
  }

  .controls{
    padding-left: 30px;
    justify-content: start;
  }
  
}
